<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <title>Ellianna Product</title>
  </head>
  <body>
    <!------------ Header of the page -------------->
    <div class="hero">
      <div class="navbar">
        <img
          src="/img/logo.png"
          alt="logo"
          style="height: 90px; width: 195px"
        />
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/product-page">Product</a></li>
          <li><a href="/signin-page">Sign In</a></li>
          <li><a href="/admin-page">Admin</a></li>
        </ul>
        <div class="navbar-icon">
          <img src="/img/5.png" alt="icon" />
          <img src="/img/6.png" alt="icon" />
          <img src="/img/7.png" alt="icon" />
        </div>
      </div>
    </div>
    <!------------ Body of the page -------------->
    <div class="container">
      <div class="grid" id="productGrid">
        <!-- Product cards will be dynamically inserted here -->
      </div>
    </div>
    <!------------ End of Body ------------------->
  </body>
  <script src="/jquery.js" type="text/javascript"></script>
  <script src="/product.js" type="text/javascript"></script>
  <script src="/event.js" type="text/javascript"></script>
</html>
